:root {
    --azul: #032541;
    --amarelo: #f3d61d;
    --branco: #F0FFF0;
    --preta: #141414;
    --fundo: #5cd8e9;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
} 

a:visited {
    color: var(--amarelo);
    display: block;
    
}

a:hover {
    color: var(--azul);
    width: 100%;
    height: 100%;
}

/*Elementos Base*/

body {
    background: #051725;
    font-family:sans-serif;
    color: var(--branco) ;
    font-size: 14px;
}


header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--azul);

    position: fixed;
    width: 100%;
}

header .logo {
    color: var(--amarelo);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}



header nav a {
    font-family: 'Arial';
    color: var(--branco);
    margin-right: 10px;

}

header nav a:hover {
    color: var(--amarelo);
    border-bottom: solid 3px var(--amarelo);
    border-top: solid 3px var(--amarelo);
    padding-top: 17px;
    padding-bottom: 17px;

    transition: all 0.3s ease;
}


/*Desenho Principal*/

.desenho-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.30),rgba(0, 57, 110, 0.808)100%),  url('/resources/capa-caverna.jpg');

    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.desenho-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;

    margin-left: 5px;
}

.desenho-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    color: var(--amarelo);
    
    margin-left: 5px;
}

.botao {
    background-color: rgba(0, 57, 110, 0.904);
    border: none;
    color: var(--amarelo);

    padding: 15px 30px;

    margin-left: 5px;
    font-size: 12px;
    
    cursor: pointer;

    border-radius: 5px;
}

.botao:hover {
    background-color: var(--amarelo);
    color: var(--azul);

    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

    transition: all 0.3s ease;
}

#play {
    margin-right: 5px;
}

#pontos {
    margin-right: 5px;
}

#categoria {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.add-recentemente {
    font-size: 20px;
    color: var(--amarelo);
}

.box-desenho {
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes {
    margin-top: 5px;
}
