@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    header nav {
        padding-bottom: 10px;
    }

    header nav a {
        display: inline-flexbox;
    }

    header nav a:hover {
        padding-top: 0;
        border-top: none;
        padding-bottom: 7px ;
    }

    .desenho-principal .titulo {
        font-size: 20px;
    }

    .desenho-principal .descricao {
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: 10px;
    }

    .botao {
        margin-top: 5px;
        width: 300px;
        height: 60px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}

@media screen and (min-width:1000px) {
    .descricao{
        width: 50%;
    }
    
}